.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host-context([data-p-theme='aura-dark']) .loader-overlay,
:host-context(.dark-mode) .loader-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
